*~
.*~
#*
.#*
*.log
*~
.*~
*.class
.DS_Store
*.stackdump
doctrees
__pycache__
*.log
Flask-HTTPAuth
*.old
*.old.*
.cache
*egg-*
docs/build
docs/Makefile
docs/make.bat
docs/html
.eggs
.ipynb_checkpoints
*.ipynb
dist
build

